body{
    margin: 0;
    font-family: 'Cabin', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.flex{
    display: flex;
}
.header img{
    width: 70%;
    size: 80%;
}
div.header{
    width: 50%;
    padding: 6%;
}
div.header p{
    font-size: 18px;
}
span{
    color: #FEC062;
}
.button{
    color: white;
    background-color: tomato;
    padding: 13px 30px;
}
.border{
    border-left: 4px solid tomato;
    padding-left: 8px;
    height: auto;
    
}
.my h1{
    text-align: center;
}

.aboutbox img{
    width: 33.3%;
}
.aboutbox{
    padding-left: 13%;
    padding-right: 13%;

}
.box{
    margin: 10px;
    padding: 30px;
    border-radius: 12px;
}
#mission{
    background-color: tomato;
}
#vision{
    background-color: blue;
}
#goal{
    background-color: crimson;
}
.portfolio img{
    width: 75%;
    
}
.portfolio{
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 5%
}
.portfolio{
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position: left bottom;
    background-size: 22%;
    padding-left: 12%;
}

.prtsec{
    width: 85%;
    
}
.application img{
    width: 75%;
    background-image: url(images/shapes/shape-3.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 45%;
}
.community{
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 5%
}
.appimg{
    width: 75%;
}
.appsec{
    width: 75%;
}
.appimg{
    width: 50%;
}
.community{
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 5%;
}
.community img{
    width: 75%;  
}
.comimg{
    width: 50%;
}
.comsec{
    width: 76%;
}
.contact {
    padding: 2% 12%;
    background-color: tomato;
}
.contact h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}
.contact-para {
    text-align: center;
}
.contacta{
    width: 50%;
    margin: 30px;
    padding: 30px;  
    border-radius: 20px;
}
#contact {
    background-color:white ;
}

address  {
    color: white;
    font-size: 25px;

}
address a {
    color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: tomato;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: tomato;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .footer-section {
    padding: 10px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    color: cornsilk;
}