body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    display: flex;
}
.header img{
    width: 67%;
    size: 80%;
}
div.header{
    width: 50%;
    padding: 6%;
}
div.header h1{
    font-size: 50px;
}
div.header p{
    font-size: 18px;
}
div.header span{
    color: #FEC062;
}
.button{
    color: white;
    background-color: tomato;
    padding: 13px 30px;
}
.border{
    border: left 3px;
    border: tomato;
}